.ui-box1-top {
	width:700px;
	height:30px;
	display: flex;
	flex-direction: row;
	background-color: white;
	border-bottom: 2px solid #238DC8;
}
.ui-box1-top-title {
	width:100px;
	height:30px;
	border:2px solid #238DC8;
	border-bottom: 0px;
	border-top-right-radius: 5px; 
	border-top-left-radius: 5px;
	background: linear-gradient(#3597CE 0%, #3597CE 100%);
}