div {
	box-sizing: border-box;
}
.ui-box1-top {
	width:800px;
	height:30px;
	display: flex;
	flex-direction: row;
	background-color: white;
	border-bottom: 4px solid #238DC8;
}
.ui-box1-top-title {
	width:100px;
	height:30px;
	border-bottom: 0px;
	border-top-right-radius: 3px; 
	border-top-left-radius: 3px;
	text-align: center;
	font-size: 20px;
	line-height: 30px;
	color: #FFFFFF;
	text-shadow: 1px 0px 1px  #C8ACD3;
	background: linear-gradient(to bottom,#3597CE, #238DC8);
}
.ui-box1-top-tag {
	width:23px;
	height:23px;
	border-radius: 3px;
	margin: 5px;
	margin-left: 8px;
	margin-top: 0;
	text-align: center;
	font-size: 20px;
	line-height: 25px;
	color:white;
	background: linear-gradient(to bottom,#FC7D18,#FE4603);
}
.ui-box2-head {
	width: 800px;
	height:60px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border:1px solid #CACACA;
	vertical-align: middle;
	background: linear-gradient(to bottom,#FEFEFE,#F2F3F3);

}
.ui-box2-head-title {
	color: #D11313;
	height:50%;
	margin:5px;
	margin-bottom: 0;
}
.ui-box2-head-subtitle {
	color: #D11313;
	height:50%;
	margin:5px;
	margin-left:40px;
	margin-bottom: 0;
	font-weight: bold;

}
.ui-box2-head-subtitle:before {
	content:"YY";
	display: inline;
	color:#5D5D5D;
	font-weight: normal;
	margin-right: 15px; 
	margin-left:0;
}
.ui-box2-head-cnt-tag {
	margin:5px;
	margin-top: 0px;
	
	color:#5D5D5D;
}
.ui-box2-head-cnt-ans {
	margin:5px;
	margin-right: 15px;
	margin-left:0;
	margin-top:0px;
	color:#5D5D5D;
	font-weight: bold;
}
.ui-box2-head-cnt-highlight {
	margin:5px;
	margin-top:0;
	margin-right: 15px;
	margin-left:0px;
	color:#D11313;
	font-weight: bold;
}
.ui-box2-head-tail {
	width:500px;
	height:10px;
	flex-grow: 1;
}
.ui-box2-head-end {
	width:800px;
	height:30px;
	display: flex;
	flex-direction: row-reverse;
	vertical-align: middle;
	background-color: #FFFBDE;
	border:1px solid #CACACA;
	border-top: 0px;
}
a {
	vertical-align: center;
	height: 30px;
	line-height: 30px;
	margin-right:5px;
	
}
.ui-box2-head-end-cnt {
    color: #6680CA;
    text-decoration: underline;
    margin-right: 10px;
}
.ui-box3-topic {
	width: 800px;
	height:15px;
	margin-top:5px;
	display: flex;
	flex-direction: row;
	background-color: #CEDCE8;
}
.ui-box3-topic-route {
	width:500px;
	line-height: 15px;
	text-align: center;
	border-right: solid 1px white;
	color:#748B9F;
}
.ui-box3-topic-item {
	width:75px;
	line-height: 15px;
	text-align: center;
	border-right: solid 1px white;
	color:#748B9F;
}
.ui-box4-cnt-row1-head,.ui-box6-cnt-row1-head ,.ui-box8-cnt-row1-head{
	width:800px;
	height:60px;
	display: flex;
	flex-direction: row;
	border: 1px solid #C1C1C1;
	border-top:1px solid white;
	background-color: #F2F2F2;
}
.ui-box4-cnt-row1-head-topic ,.ui-box6-cnt-row1-head-topic,.ui-box8-cnt-row1-head-topic{
	width: 500px;
	height:60px;
	
	color:black;
}
.ui-box4-cnt-row1-head-topic a,.ui-box8-cnt-row1-head-topic a{
	position: relative;
	left:18%;
	color:white;
	line-height: 60px;
	text-shadow: 0px 0px 3px  #0D7DD0;
}
.ui-box4-cnt-row1-head-topic a i:after,.ui-box8-cnt-row1-head-topic a i:after {
	content: "";
	display: block;
	position: relative;
	clear:both;
	left:23px;
	top:-17px;
	width: 15px;
	height:15px; 
	background: linear-gradient(To top,#209DD8 0%,#1B8ED7 50%,#34A5DF 50%,#43B6E5 100%);
	border: 1px solid white;
}
.ui-box4-cnt-row1-head-topic span, .ui-box6-cnt-row1-head-topic span,.ui-box8-cnt-row1-head-topic span{
	position: relative;
	left: 20%;
	top:2px;
	margin-left: 10px;
	font-size:25px;
}
.ui-box4-cnt-row1-head-bus,.ui-box6-cnt-row1-head-bus,.ui-box8-cnt-row1-head-bus{
	width:75px;
	height:60px;
	color:black;
	font-size:18px;
	text-align: center;
	line-height:60px;
}
.ui-box6-cnt-row1-head-bus {
	line-height: 40px;
}
.ui-box6-cnt-ro
w1-head-bus:after {
	content: "XXXX";
	display: block;
	position: relative;
	top:-21px;
	left: 0;
}
.ui-box4-cnt-row1-head-spacil,.ui-box6-cnt-row1-head-spacil,.ui-box8-cnt-row1-head-spacil {
	width:225px;
	height:60px;
}
.ui-box4-cnt-row1-head-spacil-cnt,.ui-box6-cnt-row1-head-spacil-cnt,.ui-box8-cnt-row1-head-spacil-cnt {
	display: flex;
	flex-direction: row-reverse;
	list-style:none;
}
.ui-box4-cnt-row1-head-spacil-cnt li,.ui-box6-cnt-row1-head-spacil-cnt li ,.ui-box8-cnt-row1-head-spacil-cnt li{
	margin-right: 8px;
}
.ui-box4-cnt-row1-head-spacil-cnt li a,.ui-box6-cnt-row1-head-spacil-cnt li a,.ui-box8-cnt-row1-head-spacil-cnt li a  {
	color:#2B4FC6;
	text-decoration: underline;
}
.ui-box5-cnt-row2-cnt ,.ui-box7-cnt-row2-cnt{
	width: 800px;
	height: 55px;
	display: flex;
	flex-direction: row;
	border-bottom: solid 1px #DEDEDE;
}
.ui-box5-cnt-row2-cnt-time ,.ui-box7-cnt-row2-cnt-time{
	width: 15.6%;
	height:55px;
	border:0;
	border-right: 7px solid #96C7D8;
	text-align: center;
}
.ui-box5-cnt-row2-cnt-time:after,.ui-box7-cnt-row2-cnt-time:after{
	content: "";
	width: 1px;
	height:55px;
	display: block;
	border: 0;
	position: relative;
	top:-50px;
	left:119px;
	border-right: 3px dashed white;
	background-color: transparent;

}
.ui-box5-cnt-row2-cnt-time-show ,.ui-box7-cnt-row2-cnt-time-show{
	height: 40%;
	line-height: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 13px;	
}
.ui-box5-cnt-row2-cnt-time-show:after, .ui-box7-cnt-row2-cnt-time-show:after{
	content: "XX";
	display: block;
	top:0;
	left: 0;
	font-weight: normal;
}
.ui-box5-cnt-row2-cnt-title, .ui-box7-cnt-row2-cnt-title{
	width: 47%;
	height: 100%;
	border: 0;
	border-right: solid #DFDFDF 1px;
}
.ui-box5-cnt-row2-cnt-title a ,.ui-box7-cnt-row2-cnt-title a{
	height: 100%;
	line-height:55px;
	margin:20px;
	font-size: 20px;
	color:#0082D9;
}
.ui-box5-cnt-row2-cnt-title a i ,.ui-box7-cnt-row2-cnt-title a i{
	font-size: 18px;
}
.ui-box5-cnt-row2-cnt-title span ,.ui-box7-cnt-row2-cnt-title span {
	color: #6BA8C9;
}
.ui-box5-cnt-row2-cnt-blank,.ui-box5-cnt-row2-cnt-cost,.ui-box5-cnt-row2-cnt-seat,.ui-box5-cnt-row2-cnt-dist,.ui-box7-cnt-row2-cnt-blank,.ui-box7-cnt-row2-cnt-cost{
	width: 75px;
	height: 100%;
	border: 0;
	line-height:55px;
	text-align: center;
	border-right: #DEDEDE solid 1px;
}
.ui-box5-cnt-row2-cnt-cost,.ui-box7-cnt-row2-cnt-cost{
	font-weight: bold;
}
.ui-box5-cnt-row2-cnt-dist{
	border: 0;
}
.ui-box5-cnt-row2-cnt-seat{
	line-height: 40px;
}
.ui-box5-cnt-row2-cnt-seat:after{
	content:"XXXX";
	display: block;
	position: relative;
	top:-24px;
	left: 0;
}
.ui-box6-cnt-row1-head-topic-icon {
	display: inline-block;
	width: 15px;
	height:15px;
	position: relative;
	left:22.5%;
	margin-top: 22px;
	margin-right: 6px;
	background: linear-gradient(To top,#209DD8 0%,#1B8ED7 50%,#34A5DF 50%,#43B6E5 100%);
}
.ui-box6-cnt-row1-head-topic-icon:before {
	content: "XXXX";
	display: inline-block;
	position: relative;
	top: -4px;
	left:-71px;
	font-size: 13px;

}
.ui-box6-cnt-row1-head-topic-icon:after {
	width:10px;
	height:10px;
	content: "";
	display: block;
	position: relative;
	margin:auto;
	top:-18.5px;
	background-color: white;
}
.ui-box7-cnt-row2-cnt-title a {
	color: #009261;
}