body {
	background-color: lightgray; 
}

#title {
	width:800px;
	height:100px;
	margin: auto;
	margin-bottom: 10px;
	text-align: center;
	border: 1px solid  #00BCD4;
	border-radius: 25px;
	background-color: lightblue;
}
#title:after {
	display: inline;
	content:"张银霞的实验目录";
	width:500px;
	height:100%;
	font-size: 70px;
}
#EX01 {
	width:100px;
	height:100px;
	border-radius: 100px;
	border: 1px solid  #00BCD4;
	margin:auto;
	text-align: center;
	background-color: lightblue;
	transition: border-radius 1s,width 1s;
	-webkit-transition: border-radius 1s,width 1s;
}
#EX01:hover {
	border-radius: 25px;
	width:200px;
}
a {
	font-size: 20px;
	line-height: 100px;
}
