#First {
	width:300px;
	height:105px;
	border:#eeeeee 1px solid;
	border-bottom:transparent;
}
.oneone {
	width:270px;
	height:20px;
	position: relative;
	top:10px;
	margin:auto;
	margin-bottom: 10px;
	border:black 1px solid;
}
#TB {
	width:300px;
	height:25%;
	font-size: 12px;
	border-collapse: collapse;
}
td {
	width:20%;
	height:100%;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	background-color: #f7f7f7;
	border-bottom:#eeeeee 1px solid;
}
#td11:hover {
	border-bottom: transparent;
	border-right: #eeeeee 1px solid;
	font-weight: 800;
	background-color: white;
}
#td12:hover, #td13:hover,#td14:hover {
	border-bottom: transparent;
	border-right: #eeeeee 1px solid;
	border-left: #eeeeee 1px solid;
	font-weight: 800;
	background-color: white;
}
#td15:hover {
	border-bottom: transparent;
	border-left: #eeeeee 1px solid;
	font-weight: 800;
	background-color: white;
}
#Second {
	position: relative;
	width:300px;
	border: #eeeeee 1px solid;
	border-bottom:transparent;
}
#Second:after {
	content:"";
	position: relative;
	left:200px;
	top:0px;
	display: block;
	clear: both;
}
.box {
	text-align: center;
	float:left;
	background-color: #ff4400;

}
#box1 {
    width: 65px;
    height: 65px;
    margin: auto;
    margin-left: 8px;
    position: relative;
    left: 6px;
    top: 18px;
}
#box3 {
    width: 196px;
    height: 20px;
    margin-left: 10px;
    margin-top: 2px;
    background-color: white;
    border: solid transparent 1px;
}
#box2 {
    width: 196px;
    height: 20px;
    margin-left: 10px;
    margin-top: 18px;
    margin-bottom: 10px;
    background-color: white;
    border: solid transparent 1px;
}
#box3 input,#box2 input {
	width: 196px;
	height: 20px;
	border: 1px black solid;
}
#box5, #box6 {
    position: relative;
    top: 5px;
    width: 80px;
    height: 30px;
    margin: 5px;
    margin-top:20px;
    margin-bottom: 15px;
}
#box4 {
	position: relative;
    top: 5px;
    width: 80px;
    height: 30px;
    margin: 5px;
    margin-top:20px;
    margin-bottom: 15px;
    margin-left: 20px;
}
#box4:hover,#box5:hover,#box6:hover {
	 border-radius: 15px;
}
.w0 {
	font-size: 16px;
	line-height: 30px;
	color: white;
}
#Third {
	position: relative;
    width: 300px;
    height: 40px;
    border: #eeeeee 1px solid;
    border-bottom: transparent;
}
#Third1 {

	width: 270px;
	height: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border:1px solid black;
}
#Forth {
	width: 300px;
	border: #eeeeee 1px solid;	
}
#Forth:after {
	content:"";
	display: block;
	clear:both;
}
.ForthBox {
	box-sizing: border-box;
	width:60px;
	height:90px;
	float:left;
	text-align: center;
	background-color: white;
	border-left: 1px #eeeeee solid;
	border-bottom: 1px #eeeeee solid;
}
#B411 {
	width:120px;
	height: 180px;
	border: 0;
	border-bottom: 1px #eeeeee solid;
}
#FB31 {
	
	border-left: 0;
	border-bottom: 0;
}
#FB32 {

	border-bottom: 0;
}
#FB33,#FB34,#FB35 {
	
	border-bottom: 0;
}
.sp1 {
    width: 70%;
    height: 50%;
    position: relative;
   	margin:auto;
   	top:15px;
    background-color: #ff4400;
}
#sp11 {
    width: 70%;
    height: 50%;
    position: relative;
    margin:auto;
    margin-bottom: 2px;
    top:20px;
    background-color: #ff4400;
}
.w1 {
	position: relative;
	font-size:12px;
	font-weight: 200;
	top:100%;
}
.w1:hover,.w1:active {
	font-weight: 400;
}
